.card {
    display: grid;
    grid-template-rows: 1fr auto auto;
    color: inherit;
    text-decoration: none;

    position: relative;
    width: 250px;
    height: 300px;

    img {
        width: 90%;
        height: auto;
        max-height: 280px;
        align-self: center;
    }
    p {
    }
}

.card:hover {
    z-index: 1;
    transform: scale(1.05);
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}
